services:

  redis:
    image: redis:6-alpine
    command: redis-server
    volumes:
      - ${PWD}/volumes/redis-data:/data:rw
    restart: unless-stopped
    ports:
      - "127.0.0.1:6379:6379"

  # manager fills the job queue with spider jobs.
  manager:
    image: ghcr.io/netzbegruenung/green-spider:latest
    command: >
      python3 -u cli.py
      --loglevel debug
      manager
    environment:
      REDIS_URL: redis://redis:6379/0
    volumes:
      - ${PWD}/secrets:/secrets
      - ${PWD}/cache/green-directory:/workdir/cache/green-directory
    depends_on:
      - redis

  # rq dashboard for debugging/development
  # dashboard:
  #   image: eoranged/rq-dashboard:v0.6.1
  #   environment:
  #     RQ_DASHBOARD_REDIS_URL: redis://redis:6379/0
  #   ports:
  #     - "9181:9181"
  #   depends_on:
  #     - redis
