beautifulsoup4==4.6.0
dnspython==1.16.0
feedparser==5.2.1
GitPython
google-cloud-datastore==1.10.0
html-similarity==0.3.2
httpretty==0.9.4
pyopenssl==18.0.0
PyYAML
requests==2.20.0
responses==0.9.0
# Note: we pin selenium to 3.8.0 because of https://github.com/SeleniumHQ/selenium/issues/5296
selenium==3.8.0
smmap2==2.0.3
tenacity==5.0.2
urllib3==1.25.7
