beautifulsoup4==4.12.3
cachetools==5.3.3
certifi==2024.2.2
cffi==1.17.1
chardet==5.2.0
click==7.1.2
cssselect==1.2.0
dnspython==2.6.1
docker==5.0.3
feedparser==6.0.11
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.18.0
google-auth==2.29.0
google-cloud-core==2.4.1
google-cloud-datastore==2.19.0
google-cloud-storage==2.16.0
googleapis-common-protos==1.63.0
html-similarity==0.3.3
httpretty==1.1.4
idna==3.10
kubernetes==29.0.0
parsel==1.6.0 # html-similarity 0.3.3 depends on parsel==1.6.0
protobuf==4.25.3 # <5.0.0 requested by google-api-core 2.18.0
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycparser==2.22
pyOpenSSL==24.1.0
pytz==2024.1
redis==5.0.4
requests==2.31.0
responses==0.25.0
rq==1.16.1
rsa==4.9
selenium==3.141.0
smmap==5.0.1
smmap2==3.0.1
soupsieve==2.5
tenacity==8.2.3
urllib3==1.26.18 # v2 requires code changes in timeout handling
w3lib==2.1.2
websocket-client==1.7.0
