beautifulsoup4==4.9.3
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cssselect==1.1.0
dnspython==1.16.0
docker==4.4.1
feedparser==6.0.8
gitdb==4.0.7
GitPython==3.1.14
google-api-core==1.26.3
google-auth==1.30.0
google-cloud-core==1.6.0
google-cloud-datastore==1.15.3
google-cloud-storage==1.38.0
googleapis-common-protos==1.53.0
html-similarity==0.3.3
httpretty==0.9.7
idna==2.10
parsel==1.6.0
protobuf==3.15.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==20.0.1
pytz==2021.1
PyYAML==5.4.1
redis==3.5.3
requests==2.25.1
responses==0.13.3
rq==1.8.0
rsa==4.7.2
selenium==3.141.0
smmap==3.0.4
smmap2==2.0.5
soupsieve==2.2.1
tenacity==5.1.5
urllib3==1.26.4
w3lib==1.22.0
websocket-client==0.59.0
