apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: green-spider-createjobs
spec:
  # Monday, Wednesday, Friday at 1:05 UTC
  schedule: "5 1 * * 1,3,5"
  jobTemplate:
    spec:
      parallelism: 1
      template:
        spec:
          containers:
          - name: spider
            image: quay.io/netzbegruenung/green-spider:latest
            imagePullPolicy: Always
            args:
              - "--credentials-path=/secrets/datastore-writer.json"
              - "--loglevel=info"
              - jobs
            volumeMounts:
            - name: secrets
              mountPath: "/secrets"
              readOnly: true
            resources:
              requests:
                cpu: 500m
                memory: 200M
          restartPolicy: OnFailure
          volumes:
          - name: secrets
            secret:
              secretName: green-spider
              items:
              - key: datastore-writer.json
                path: datastore-writer.json
          - name: shared
            emptyDir: {}

