name: Python tests

on:
  pull_request: {}
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Build container image
        run: make dockerimage
      - name: Create placeholder secrets
        run: |
          mkdir ./secrets
          echo '{"token_uri": "", "client_email": "", "private_key": "", "private_key_id": "", "client_id": ""}' >> ./secrets/screenshots-uploader.json
      - name: Run tests in container
        run: make test
